.curiosity-banner-messages {
  background-color: var(--pf-global--BackgroundColor--100);
  padding-left: var(--pf-c-page__main-section--PaddingLeft);
  padding-right: var(--pf-c-page__main-section--PaddingRight);
  padding-bottom: var(--pf-global--spacer--md);

  &__clipboard-copy-text {
    color: inherit !important;
    //background-color: whitesmoke; // var(--pf-v5-c-clipboard-copy--m-inline--BackgroundColor);
    // background-color: #fcecc0 !important;
    background-color: #fae19d !important;
  }
}
